body {
  margin: 0;
}

canvas {
  width: 400px;
  height: 400px;
}

.speed {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 8px;
}

.canvas-panel {
}

.editor-panel {
  padding-left: 8px;
}

textarea {
  width: 100%;
}
