body {
  margin: 0;
}

canvas {
  width: 400px;
  height: 400px;
}

.speed {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 8px;
}

.canvas-panel {
  min-width: 400px;
}

.editor-panel {
  padding-left: 8px;
}

textarea {
  width: 100%;
  font-size: x-large;
}

button {
  min-width: 80px;
}

.buttons {
  padding-bottom: 8px;
}

table {
  border-collapse: collapse;
  border: 1.5px solid black;
  font-size: x-large;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

tr {
  border: 1px solid blue;
}

iframe {
  border: 0;
  width: 100%;
  padding-top: 8px;
  height: 250px;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 1, 1);
  display: inline-block;
  color: blue;
  padding: 5px;
}

.show-tooltip {
  opacity: 1;
}

@font-face {
  font-family: 'pixelart';
  src: url('../static/DisposableDroidBB.ttf') format('truetype');
}

.pixelart {
  font-family: "pixelart";
}

button {
  font-family: "pixelart";
  font-size: x-large;
}

.colors {
  height: 30%;
  width: 50%;
  margin-top: 8px;
}
