body {
  margin: 0;
}

canvas {
  width: 400px;
  height: 400px;
}

.speed {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 8px;
}

.canvas-panel {
  min-width: 400px;
}

.editor-panel {
  padding-left: 8px;
}

textarea {
  width: 100%;
}

button {
  min-width: 80px;
}

.buttons {
  padding-bottom: 8px;
}
